name: Update gist
on:
  repository_dispatch:
    types: [build-event]
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - name: Update gist
        uses: maxam2017/productive-box@master
        env:
          GH_TOKEN: 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
          GIST_ID: https://gist.github.com/dnjswlekd/f774756bf532ff936d0d2a7a0bb72d14
          TIMEZONE: Asia/Taipei
